/* Default styles for larger screens */
.timer-container {
  position: relative;
}

.timer {
  position: fixed;
  top: 13vh;
  right: 7vh;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: conic-gradient(var(--progress-gradient));
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3E666B;
  font-size: 12px;
  font-weight: bold;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.timer p {
  margin: 0;
}

/* Media query for smaller screens (max-width: 600px) */
@media screen and (max-width: 600px) {
  .timer {
    width: 8vh; /* Adjust width for smaller screens */
    height: 8vh; /* Adjust height for smaller screens */
    top: 12vh; /* Adjust top position for smaller screens */
    right: 5vh; /* Adjust right position for smaller screens */
    font-size: 3vh; /* Adjust font size for smaller screens */
  }
}
@media screen and (min-width: 550px) and (max-width: 650px) {
  .timer {
    width: 10vh; /* Adjust width for smaller screens */
    height: 10vh; /* Adjust height for smaller screens */
    top: 12vh; /* Adjust top position for smaller screens */
    right: 5vh; /* Adjust right position for smaller screens */
    font-size: 3vh; /* Adjust font size for smaller screens */
  }
  /* Add more specific styles for smaller screens if needed */
}

@media screen and (min-width: 650px) and (max-width: 800px) {
  .timer {
    width: 10vh; /* Adjust width for smaller screens */
    height: 10vh; /* Adjust height for smaller screens */
    top: 12vh; /* Adjust top position for smaller screens */
    right: 5vh; /* Adjust right position for smaller screens */
    font-size: 3vh; /* Adjust font size for smaller screens */
  }
}
@media screen and (min-width: 800px) {
  .timer {
    width: 10vh; /* Adjust width for smaller screens */
    height: 10vh; /* Adjust height for smaller screens */
    top: 12vh; /* Adjust top position for smaller screens */
    right: 10vh; /* Adjust right position for smaller screens */
    font-size: 3vh; /* Adjust font size for smaller screens */
  }
}
