.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.view-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3000;
}

.view-modal-content {
    background-color: #fff;
    padding: 20px;
    padding-top: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}


.modal-content {
    position: relative;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    gap: 10px;
    max-height: 80vh;
    overflow-y: auto;
    /* scrolling */
}

button {
    width: 30%;
    display: block;
    padding: 10px;
    margin: auto;
    border: none;
    border-radius: 4px;
    background-color: #6EB0A8;
    color: white;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: #6EB0A8;
}

.question-list {
    margin-top: 20px;
}

.question-item {
    background-color: #D9EFDB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.question-number {
    margin-right: 10px;
}

.question-text {
    flex-grow: 1;
}

.choice-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.choice-item {
    background-color: #e3eee4;
    ;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.choice-item.correct {
    background-color: #cdedd5;
}

.correct-indicator {
    font-weight: bold;
    color: #28a745;
}

.action-buttons button {
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-buttons button:first-child {
    background-color: rgb(125, 187, 140);
    color: white;
}

.action-buttons button:last-child {
    background-color: rgb(240, 139, 119);
    color: white;
}