/* Bubble.css */
.bubble {
  position: relative;
  width: 25vh;
  height: 25vh;
  background-color: rgba(247, 243, 0, 0.822)
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 4vh;
  margin-left: 10vh;
  margin-bottom: 5vh;
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bubble:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
