.create-question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
    background-color: #e3eee4;
}

.create-question-form form {
    display: contents;
    flex-direction: column;
    gap: 5;
    align-items: flex;
    width: 100%;
}

.create-question-form label {
    display: block;
    text-align: left;
    min-width: 80px;
    margin-bottom: 10px;

}

.create-question-form .choice-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 80%;
}

.create-question-form .choice-item label {
    flex-basis: 20%;
    text-align: left;
    display: center;
}

.create-question-form input[type="text"],
.create-question-form textarea {
    flex-basis: 70%;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1;
}

.create-question-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}

.create-question-form input[type="submit"]:hover {
    background-color: #4cae4c;
}

.create-question-form .radio-group {
    display: flex;
    align-items: center;
}

.create-question-form .radio-group input[type="radio"] {
    margin-left: 10px;
    margin-right: 5px;
}

.create-question-form .radio-group label {
    margin: 5px;
    min-width: 80px;
}

.create-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.create-modal-content {
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 50%;
    max-width: 80%;
    z-index: 1001;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: #6EB0A8;
}

button {
    width: 30%;
    display: block;
    padding: 10px;
    margin: auto;
    border: none;
    border-radius: 4px;
    background-color: #6EB0A8;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .create-question-form .choice-item {
        flex-direction: column;
        align-items: stretch;
    }

    .create-question-form .choice-item label {
        flex-basis: auto;
        text-align: left;
        margin-bottom: 5px;
    }

    .create-question-form input[type="text"],
    .create-question-form textarea {
        flex-basis: auto;
    }
}