.dashboard {
    
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: transform 1.5s ease-in-out
}

.dashboard-card.hovered {
    transform: scale(1.1); /* Increase the scale for hover effect */
  }

.usertitle {
    font-size: 40px;
    text-align: center;
    color: #6eb0a8;
  }
  
  .dashboard-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .dashboard-card {
    width: 300px; /* Adjust the width as needed */
    margin: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 250px;
  }
  
  .dashboard-card:hover {
    background-color: #b8e9e9; /* Change link color on hover */
  }
  
  .dashboard-link {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Set link color */
  }
  
  .dashboard-link:hover {
    color: #555; /* Change link color on hover */
  }
  
  .darkgreen {
    color: #6eb0a8;
  }
  
  header {
    background-color: #3f6a6f;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
      width: 8.33%;
    }
    .col-s-2 {
      width: 16.66%;
    }
    .col-s-3 {
      width: 25%;
    }
    .col-s-4 {
      width: 33.33%;
    }
    .col-s-5 {
      width: 41.66%;
    }
    .col-s-6 {
      width: 50%;
    }
    .col-s-7 {
      width: 58.33%;
    }
    .col-s-8 {
      width: 66.66%;
    }
    .col-s-9 {
      width: 75%;
    }
    .col-s-10 {
      width: 83.33%;
    }
    .col-s-11 {
      width: 91.66%;
    }
    .col-s-12 {
      width: 100%;
    }
  }
  @media only screen and (min-width: 800px) {
    /* For desktop: */
    .col-1 {
      width: 8.33%;
    }
    .col-2 {
      width: 16.66%;
    }
    .col-3 {
      width: 25%;
    }
    .col-4 {
      width: 33.33%;
    }
    .col-5 {
      width: 41.66%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58.33%;
    }
    .col-8 {
      width: 66.66%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83.33%;
    }
    .col-11 {
      width: 91.66%;
    }
    .col-12 {
      width: 100%;
    }
  }
  
 
