.edit-practice-questions-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.edit-practice-questions-modal-content {
    position: relative;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    gap: 10px;
    max-height: 50vh;
    overflow-y: scroll;
}

.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.edit-modal-content {
    position: relative;
    z-index: 2001;
}

button {
    width: 30%;
    display: block;
    padding: 10px;
    margin: auto;
    border: none;
    border-radius: 4px;
    background-color: #6EB0A8;
    color: white;
    cursor: pointer;
}

.close-button {
    position: relative;
    top: 15px;
    right: 15px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: #6EB0A8;
}

.edit-modal .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #6EB0A8;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.question-list {
    margin-top: 20px;
}

.question-item {
    background-color: #D9EFDB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.question-number {
    margin-right: 10px;
}

.question-text {
    flex-grow: 1;
}

.edit-button {
    max-width: 60px;
    background-color: #6EB0A8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 5px;
    margin-left: 10px;
}

.delete-button {
    background-color: rgb(240, 139, 119);
    border: none;
    max-width: 60px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 5px;
    margin-left: 10px;
    color: white;
}