/* FlashCardsPage.css */

.flashcards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .flashcard {
    width: 350px;
    height: 350px;
    font-size: 25px;
    text-align: center;
    perspective: 1000px;
    position: flex;
    margin-bottom: 20px;
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    border: 1px solid #edf1e4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #edf1e4;
    transition: transform 0.5s;
  }
  
  .back {
    transform: rotateY(180deg);
}

.flashcard:hover .front {
    transform: rotateY(180deg);
}

.flashcard:hover .back {
    transform: rotateY(360deg);
}
  
  .button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    width: 100%;
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 15px; /* Adjusted padding for closer buttons */
    margin: 0 5px; /* Adjusted margin for closer buttons */
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #3f6a6f;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .button-container button:hover {
    background-color: #51868c;
  }
  
  @media (max-width: 600px) {
    .flashcard {
      width: 250px;
      height: 150px;
    }
  }
  
