footer {
  height: 5vh;
  font-size: 10px;
  color: #e4f1c9;
  text-align: center;
  background-color: #3f6a6f;
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border:1px solid #333;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
