footer {
  height: 4vh;
  font-size: 14px;
  border-top: 1px solid black;
  color: #e4f1c9;
  text-align: center;
  display: flek;
  background-color: #3f6a6f;
  overflow: hidden;
  width: 100%;
  position:fixed;
  padding-top: 18px;
  bottom: 0; /* Ensure the footer stays at the bottom */
}
