body {
  background-color: #f6f6f2;
}

.darkgreen {
  color: #6eb0a8;
}

header {
  background-color: #3f6a6f;
}

.logo {
  height: 70px;
  width: 70px;
}

.overlay-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  max-width: 600px; /* Set a max-width for better readability */
}

.greenbutton {
  background-color: #3f6a6f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("road.png") center/cover no-repeat; /* Replace 'road.png' with your image path */
  min-height: 100vh; /* Ensure the container covers the entire viewport height */
}

.flex-container > div {
}

.hobbies {
  display: "none";
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 30px;
}

html {
  font-family: "Lucida Sans";
}

.header {
  background-color: #388087;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bodytext {
  padding: 5px;
}

.aside {
  min-width: 30px;
  background-color: #6fb3b8;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: #12486b;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.topnav {
  overflow: hidden;
  background-color: #6eb0a8;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #12486b;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.homelink {
}
.hobbieslink {
}

.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.btn-line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.headercolor {
  background-color: #3f6a6f;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardcolor1 {
  background-color: #badfe7;
  color: black;
  position: static;
}

.cardcolor2 {
  background-color: #badfe7;
  color: black;
}

.cardcolor3 {
  background-color: #badfe7;
  color: black;
}

.cardhover:hover {
  background-color: #ffbf69;
}

ul.circle {
  list-style-type: circle;
}

ul.square {
  list-style-type: square;
}

.page {
  display: none;
}
.page.active {
  display: block;
}

.rounded-circle {
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
