
.landingpage {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url("road.png") center/cover no-repeat;
}

.headercolor{
    background-color: #3F6A6F;
    color: #E4F1C9;
}

.bigheader {
    display: block;
    height: 30vhs; 
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;

}

.flex-container {
    display: flex;
    height: 63vh;
    justify-content: center;
    align-items: center;
  }

.overlay-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    top: 50%;
    left: 50%;
    text-align: center;
    max-width: 600px; /* Set a max-width for better readability */
  }
  
  .greenbutton {
    background-color: #3f6a6f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
