html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  header {
    text-align: left;
    padding: 0 20px;
    background-color: #3F6A6F;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
  } 
  
  footer {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 0.8rem;
    background-color: #3F6A6F;
    color: white;
  }
  
  .forms-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }
  
  .login-form, .signup-form {
    flex: 1; 
    margin: 0 50px;
    background-color: #e3eee4;
    border-radius: 5px;
    padding: 8%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .vertical-line {
    border-left: 1px solid #ddd;
    height: 600px; 
    margin: 0 20px; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input-group {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
  }
  
  label {
    margin-bottom: 5px;
    min-width: 100px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%; 
    max-width: 500px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #6EB0A8;
    color: white;
    cursor: pointer; 
  }
  
  @media (max-width: 600px) {
    .forms-container {
      flex-direction: column;
    }
  
    .login-form, .signup-form {
      padding: 20px;
      margin: 15px;
    }
  
    .vertical-line {
      display: none;
    }
  
    header, footer {
      padding: 0 10px; /* Less padding on smaller screens */
    }
  
    form {
      padding: 0 10px; /* Less padding inside the form on smaller screens */
    }
  }
  
  @media (max-width: 800px) {
    .forms-container {
      flex-direction: row;
    }
  
    .login-form, .signup-form {
      padding: 10px;
      margin: 15px; 
    }
  
    .vertical-line {
      display: none;
    }
  
    header, footer {
      padding: 0 10px;
    }
  
    form {
      padding: 0 10px;
    }
  }