/* PracticeProblemPage.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.problem-container {
    width: 100%;
    max-width: 600px;
    border: 1px solid #edf1e4;
    background-color: #edf1e4;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

.choices-list {
    list-style-type: none;
    padding: 0;
}

.choice-item {
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #edf1e4;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.choice-item:hover {
    background-color: #b5e3f0;
}

.choice-item.selected {
    background-color: #6EB0A8;
    color: #fff;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.feedback-message {
    margin-top: 20px;
    text-align: center;
    color: green;
}
