
.create-question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #e3eee4;
  flex: 1;
  height:83vh;
}

.create-question-form form {
  display: contents;
  flex-direction: column;
  gap: 5;
  align-items: flex;
  width: 100%;
  
}

.create-question-form label {
  display: block;
  text-align: left;
  min-width: 80px;
  margin-bottom: 10px;

}

.create-question-form .suggest-choice-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 80%;
}

.create-question-form .suggest-choice-item label {
  flex-basis: 20%;
  text-align: left;
  display: center;
}

.create-question-form input[type="text"],
.create-question-form textarea {
  flex-basis: 70%;
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1;
}

.create-question-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}

.create-question-form input[type="submit"]:hover {
  background-color: #4cae4c;
  margin-bottom: 1vh;
}

.create-question-form .radio-group {
  display: flex;
  align-items: center;
}

.create-question-form .radio-group input[type="radio"] {
  margin-left: 10px;
  margin-right: 5px;
}

.create-question-form .radio-group label {
  margin: 5px;
  min-width: 80px;
}

.--modal {
  display: flex;
  /* Use flexbox for centering */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  
  width: 100%;
  height: 100;
  bottom: 0;
  background-image: url('./road.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-content {
  background-color: #ffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 50%;
  max-width: 80%;
  
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: #6EB0A8;
}

.button1 {
  width: 30%;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  background-color: #6EB0A8;
  color: white;
  cursor: pointer;
}

.button1:hover{
  background-color: #136057;
}

@media (max-width: 768px) {
  .create-question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e3eee4;
    flex: 1;
    height:auto;
  }
  .create-question-form .choice-item {
      flex-direction: column;
      align-items: stretch;
  }

  .create-question-form .choice-item label {
      flex-basis: auto;
      text-align: left;
      margin-bottom: 5px;
  }

  .create-question-form input[type="text"],
  .create-question-form textarea {
      flex-basis: auto;
  }
}