/* Default styles for larger screens */
.timer-container {
  position: relative;
}

.timer {
  position: fixed;
  top: 13vh;
  right: 7vh;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: conic-gradient(var(--progress-gradient));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.timer p {
  margin: 0;
}

/* Media query for smaller screens (max-width: 600px) */
@media screen and (max-width: 600px) {
  .timer {
    width: 8vh; /* Adjust width for smaller screens */
    height: 8vh; /* Adjust height for smaller screens */
    top: 12vh; /* Adjust top position for smaller screens */
    right: 5vh; /* Adjust right position for smaller screens */
    font-size: 3vh; /* Adjust font size for smaller screens */
  }
}
@media screen and (min-width: 550px) and (max-width: 650px) {
  .timer {
    width: 10vh; /* Adjust width for smaller screens */
    height: 10vh; /* Adjust height for smaller screens */
    top: 12vh; /* Adjust top position for smaller screens */
    right: 5vh; /* Adjust right position for smaller screens */
    font-size: 3vh; /* Adjust font size for smaller screens */
  }
  /* Add more specific styles for smaller screens if needed */
}

@media screen and (min-width: 650px) and (max-width: 800px) {
  .timer {
    width: 10vh; /* Adjust width for smaller screens */
    height: 10vh; /* Adjust height for smaller screens */
    top: 12vh; /* Adjust top position for smaller screens */
    right: 5vh; /* Adjust right position for smaller screens */
    font-size: 3vh; /* Adjust font size for smaller screens */
  }
}
@media screen and (min-width: 800px) {
  .timer {
    width: 12vh; /* Adjust width for smaller screens */
    height: 12vh; /* Adjust height for smaller screens */
    top: 12vh; /* Adjust top position for smaller screens */
    right: 10vh; /* Adjust right position for smaller screens */
    font-size: 4vh; /* Adjust font size for smaller screens */
  }
}
